* {
   margin: 0;
   padding: 0;
   box-sizing: border-box
}


.container {
   width: 100%;
   margin: 0 auto;
   padding-bottom: 80px;
}

.wrapper-head {
   width: 1169px;
   height: 60px;
   margin: 0 auto;
   display: flex;
   background-color: #ebebeb
}

.wrapper-head .wrap-head {
   display: flex;
   align-items: center
}

.wrapper-head .head-left {
   margin-left: 20.5px;
   cursor: pointer;
   width: 120px;
   display: flex;
   align-items: center;
   font-weight: 600;
   font-size: 14px
}

.wrapper-head .head-left .category {
   margin-left: 10px
}

.wrapper-head .head-center {
   margin-left: 100px;
   width: 481px;
   border-radius: 16px;
   height: 27px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: .5px solid #999;
   position: relative
}

.wrapper-head .head-center button {
   height: 27px;
   border: none;
   top: -1px;
   right: -1px;
   background-color: #868686;
   font-size: 14px;
   font-weight: 600;
   color: #fff;
   width: 94px;
   position: absolute;
   border-radius: 0 16px 16px 0;
   cursor: pointer
}

.wrapper-head .head-center .img1 {
   margin-top: 8px;
   cursor: pointer
}

.wrapper-head .center-left {
   margin-left: 15px;
   width: 280px;
   display: flex;
   align-items: center;
   border-radius: 16px
}

.wrapper-head .center-left input {
   background-color: #ebebeb;
   margin-left: 5px;
   width: 250px;
   border: none;
   outline: 0;
   padding-left: 8px;
   font-size: 10px;
   font-weight: 400
}

.wrapper-head .head-right {
   margin-left: 186px
}

.wrapper-head .head-right button {
   width: 196px;
   height: 27px;
   border-radius: 16px;
   font-size: 14px;
   font-weight: 600;
   letter-spacing: 0;
   cursor: pointer;
   border: .5px solid #999
}

.flex_menu {
   margin: 0 auto;
   width: 1169px;
   display: flex;
   font-weight: 400;
   font-size: 12px;
   letter-spacing: 0
}

.flex_menu .fat {
   font-weight: 600
}

.title {
   margin-top: 40px;
   text-align: center;
   font-size: 30px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0
}

.place_iphone {
   margin: 50px auto 0;
   width: 1030px;
   height: 577px;
   display: flex;
   justify-content: space-between
}

.place_iphone .place_left {
   width: 600px;
   height: fit-content;
}

.head_img {
   height: 460px;
   display: flex;
   align-content: center;
}

.title-product-info {
   text-align: center;
   margin: 40px 0 30px;
}

.head_img img {
   width: 100%;
   display: flex;;
   max-height: 460px;
   object-fit: contain;
}

.place_iphone .place_left .child_imgs {
   margin-top: 17px;
   display: flex;
   gap: 20px;
}

.child_imgs div{
   max-width: 101px;
   max-height:90px;
   overflow: hidden;
   border-radius: 5px;
   border: 0.1px solid #cccccc;
}
.child_imgs div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.child_imgs div img {
   object-fit: contain;
   object-position: center;
   width: 100%;
   height: 100%;
}

.place_iphone .place_right {
   width: 400px;
   height: 577px;
}

.place_iphone .place_right .place_right-top {
   width: 100%;
   height: 178px;
   border-radius: 5px;
   background-color: #f9f9f9;
   box-shadow: 0 10px 30px rgba(0, 0, 0, .15)
}

.place_iphone .place_right .place_right-center {
   width: 100%;
   height: 253px;
   border-radius: 5px;
   background-color: #f9f9fa;
   margin-top: 30px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, .15)
}

.place_iphone .place_right .place_right-bottom {
   margin-top: 30px;
   width: 319px;
   height: 40px;
   border-radius: 5px;
   background-color: #c4c4c4;
   border: none;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 10px 30px rgba(0, 0, 0, .15)
}

.place_iphone .place_right .place_right-bottom img {
   margin-left: 7px
}

.place_iphone .place_right .first {
   padding-top: 20px;
   width: 90%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 18px
}

.place_iphone .place_right .first span {
   font-weight: 700
}

.place_iphone .place_right .first .cost_place {
   display: flex;
   align-items: center
}

.place_iphone .place_right .first .add_favourite {
   width: 180px;
   display: flex;
   color: #000;
   font-size: 14px;
   justify-content: space-between;
   align-items: center;
   cursor: pointer
}

.place_iphone .place_right .second {
   margin-top: 25px;
   margin-left: 20px;
   width: 87%;
   display: flex;
   justify-content: space-between
}

.place_iphone .place_right .second button {
   width: 279px;
   height: 45px;
   background-color: #fff;
   border-radius: 5px;
   border: none;
   font-size: 18px;
   font-weight: 600;
   cursor: pointer
}

.place_iphone .place_right .second .for_car {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-weight: 300;
   font-size: 14px;
   color: #000
}

.place_iphone .place_right .third {
   margin-left: 20px;
   margin-top: 10px;
   width: 82px;
   display: flex;
   cursor: pointer;
   border-bottom: .5px solid #c4c4c4
}

.place_iphone .place_right .place_right-center {
   padding: 12px 12px;
}

.place_iphone .place_right .cen-left {
   width: 56px;
   height: 56px
}

.place_iphone .place_right .cen-right {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.seller p {
   font-size: 22px;
   font-weight: 600;
   margin-top: 10px;
}

.condition .text__user {
   font-size: 18px;
   color: #313131
}


.place_iphone .place_right .cen-first .stars {
   margin-left: 20px;
   cursor: pointer
}

.place_iphone .place_right .cen-first .top_mark {
   margin-right: 3px
}

.place_iphone .place_right .cen-first div {
   display: flex
}

.place_iphone .place_right .cen-first div img {
   width: 10px;
   height: 10px;
   margin-left: 2px
}

.place_iphone .place_right .condition {
   font-size: 14px;
   line-height: 25px;
}

.place_iphone .place_right .cen-second {
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #979797;
   font-size: 14px
}

.place_iphone .place_right .cen-second button {
   width: 106px;
   height: 40px;
   border-radius: 5px;
   border: none;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer
}

.place_iphone .place_right .follow {
   margin-top: 15px;
   width: 225px;
   height: 40px;
   border-radius: 5px;
   background-color: #fff;
   color: #000;
   font-weight: 600;
   border: none
}

.place_mac {
   flex-wrap: wrap;
   margin-top: 66px;
   width: 100%;
   height: 520px
}

a {
   text-decoration: none
}

.container_mac {
   color: #000;
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   font-size: 16px;
   max-width: 1169px;
   margin: 0 auto;
   min-height: 400px
}

.rec__block {
   display: flex;
   flex-direction: column;
   align-items: center
}

.rec__heading {
   font-weight: 700;
   font-size: 30px;
   margin: 0 0 84px
}

.rec__grid {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
   grid-gap: 25px
}

.rec__items {
   position: relative;
   height: 100%;
   background-color: #fff;
   box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, .08);
   border-radius: 8px;
   display: flex;
   flex-direction: column
}

.green_heart {
   position: absolute;
   top: 13px;
   right: 20px;
   cursor: pointer;
}

.block-img {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 0 1 45%
}

.block-content {
   padding: 0 20px 5px;
   flex: 0 1 55%
}

.block-content img {
   -o-object-fit: contain;
   object-fit: contain;
   height: 100%
}

.product-block {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 15px
}

.product__name {
   font-size: 12px;
   font-weight: 500;
   color: #dadcdc
}

.product__model {
   font-weight: 500;
   font-size: 16px
}

.colors-block {
   width: 75px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px
}

.colors__product {
   width: 11px;
   height: 11px;
   background-color: #c4c4c4;
   border-radius: 20px;
   cursor: pointer
}

.colors__product:nth-child(2) {
   background-color: #ccefdb
}

.colors__product:nth-child(3) {
   background-color: #363a45
}

.colors__product:nth-child(4) {
   background-color: #ffb762
}

.box {
   display: flex;
   align-items: center;
   margin-bottom: 15px
}

.price-block {
   display: flex;
   align-items: center;
   flex: 0 1 45%;
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   color: #00c65e
}

.review-block {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 0 1 55%
}

.review__content {
   font-weight: 500;
   font-size: 12px;
   color: #363a45;
   cursor: pointer
}

.review__content:last-child {
   margin-left: 12px
}

.buy__product {
   width: 100%;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, .08);
   border: none;
   border-radius: 10px;
   cursor: pointer;
   font-weight: 500;
   font-size: 12px;
   color: #363a45;
   transition: 250ms ease;
}

.buy__product:hover {
   box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, .2);
}

.img__product {
   width: 17px;
   margin-left: 15px;
}